.fileZone {
  background: rgba(255, 255, 255, 0.1);
  width: 360px;
  height: 100vh;
  position: fixed;
}

.dropZone {
  box-sizing: border-box;
  position: relative;
}

.hover {
  position: absolute;
  height: 100%;
  width: 100%;
  border: dotted;
  pointer-events: none;
}

.head {
  box-sizing: border-box;
  height: 40px;
  line-height: 40px;
  background: #0d1117;
  box-shadow: 0 4px 4px #777;
  display: flex;
  align-items: center;
  justify-content: center;
}

.headText {
  flex: 1;
}

.folderIcon {
  color: #aaa;
}

.files {
  height: calc(50vh - 40px);
}

.clips {
  height: calc(30vh - 40px);
}

.workspace {
  height: calc(20vh - 40px);
}

.scroll {
  overflow-y: scroll;
  font-size: 12px;
}

.scroll::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.scroll::-webkit-scrollbar-track {
  background-color: #777;
  border-radius: 4px;
}

.addWorkspaceIcon {
  margin: 0 8px;
}

.addWorkspaceIcon div {
  padding: 0;
  border: 0;
}

.scroll::-webkit-scrollbar-thumb {
  background-color: #111;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
}

.onDragActive {
  border: dotted #eee;
}

.file {
  border-bottom: solid rgba(255, 255, 255, 0.4);
  margin: 0 12px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.selected {
  background: rgba(255, 200, 200, 0.3);
}

.fileName {
  flex: 1;
  text-align: center;
  padding: 6px 0;
}

.fileName:hover {
  background: rgba(255, 255, 255, 0.2);
}

.dlIconButton {
  position: relative;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  margin: 0 8px;
}
.dlIconButton:hover {
  background: rgba(255, 255, 255, 0.2);
}

.dlIconButton div {
  border: 0;
  padding: 0;
}

.dlIcon {
  font-size: 16px;
  border-left: solid 1px #777;
}

.noItem {
  height: inherit;
  display: flex;
}

.noItemInner {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  border: dotted;
  border-radius: 8px;
  margin: 20px;
  background: rgba(255, 255, 255, 0.2);
}
