.container {
  display: flex;
  width: fit-content;
  font-size: 12px;
  border-bottom: solid #eee;
  margin-left: 2px;
}

.wrap {
  height: 28px;
  display: flex;
  align-items: flex-end;
  position: relative;
}

.wrap:last-child {
  margin-right: 20px;
  border-right: solid #777;
}
.bar {
  border-left: solid #eee;
  width: 25%;
}

.start {
  height: 10px;
}

.half {
  height: 8px;
}

.quarter {
  height: 5px;
}

.time {
  position: absolute;
  line-height: 0;
  bottom: 18px;
  display: inline-block;
  transform: translate(-50%);
  color: #eee;
}
